.title, .sub-title{
  color: #2d2d2d;
}
::-moz-selection { /* Code for Firefox */
  color: #000;
  background: #f2ccff;
}
::selection {
  color: #000;
  background: #f2ccff;
}
a{
  color: #0070F3;   
}
.input:active, .input:focus, .is-active.input, .is-active.textarea, .is-focused.input, .is-focused.textarea{
  box-shadow:unset;
  border-color: #000; 
}
.navbar-link.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover{
  color: #000000;
}
.section-border-bottom {
  border-bottom: 1px solid #eaeaea;
}
.card {
  transition: 0.3s;
  box-shadow: 4px 4px 10px 0px #00000038;
  -webkit-box-shadow: 4px 4px 10px 0px #00000038;
  border-radius: 5px;
}
.card:hover {
  box-shadow: 13px 13px 20px 0px rgba(0, 0, 0, 0.219);
}
.fix-height {
  min-height: 40px;
}
.btn-main {
  background: #000;
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  transition: 0.4s;
}
.btn-main:hover {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}
.btn-main.is-static {
  background: #fff;
  color: #000;
  border: 1px solid #000;
  box-shadow: none;
}